body {
    /* background-image: url(sample.jpg); */
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  h1 {
    color: white;
  }
  .div {
    /* background-image: url(sample.jpg); */
    height: 500px;
    width: 500px;
    background-color: blue;
    /* z-index: -1; */
    border: 2px solid red;
  }