* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  header{
    background-color: rgb(116, 104, 104);
    padding:30px;
    text-align: center;
    font-size: 35px;
  }
  section {
    display: -webkit-flex;
    display: flex;
  }
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: red;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    width: auto;
    background-color: blue;
    padding: 10px;
  }
  footer{
    background-color: green;
    padding:10px;
    text-align: center;

  }
  
  